<section class="log-in">
    <div class="log-in_form">
        <form action="" class="form" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
            <label for="dni" class="form-line">DNI:</label>
            <input type="text" id="dni" required class="form-line" formControlName="dni" [(ngModel)]="dni">
            <label for="password" class="form-line">Contraseña:</label>
            <input type="password" id="password" required class="form-line" formControlName="password">
            <button type="submit" class="form-line btn_login" style="cursor: pointer;">Ingresar</button>
            <a class="form-line" (click)="recoverPassword(dni)" class="a_recover-password">¿Olvidaste tu contraseña?</a>
            <a class="btn-crear-cuenta" (click)="redirectCreateAccount()" routerLink="/signin">CREAR CUENTA</a>
        </form>
    </div>
</section>