<div *ngFor="let producto of productos" class="card">
    <div class="card__inner">
      <div class="card__face card__face--front">
        <h2>{{ producto.nombre }}</h2>
      </div>
      <div class="card__face card__face--back">
        <div class="card__content">
          <div class="card__header">
            <h2>Info del producto</h2>
          </div>
          <div class="card__body">
            <p>{{ producto.descripcion }}</p>
            <p><strong>Precio:</strong> {{ producto.precio }} USD</p>
          </div>
        </div>
      </div>
    </div>
  </div>