<!-- SE DEBERIA USAR EL NGFOR, QUEDA PARA MEJORA FUTURA  -->

<ul class="ul-puntos">
    <li class="li-titulo">PUNTOS DE VENTA</li>
    <li>
        <a href="https://maps.app.goo.gl/CwDK6mqyd11SCtJB9">
            ENOTECA
        </a>
            <p>SARMIENTO 98</p>
    </li>
    <li>
        <a  href="https://maps.app.goo.gl/n4GChz8zhfBFU8s3A">
            BACO
        </a>
        <p>
            AV. SAVIO 51
        </p>
    </li>
    <li>
        <a href="https://www.instagram.com/korcega/?hl=en">
            KORCEGA
        </a>
        <P style="font-weight: normal; margin-top: 0px; margin-bottom: 0px;">PELEGRINI 148</P>
        <p>
            AV. SAVIO 399 
        </p>
    </li>
<!-- 
    NO ENCONTRE EL LINK DE DIONISIO -->

    <li>
        <a>
            DIONISIO
        </a>
        <p>
            AV. FALCÓN 171
        </p>
    </li>
    <li>
        <a  href="https://maps.app.goo.gl/uAMgm6LJMp8cX1L16">
            YAGUARÓN
        </a>
        <p>
            AV. SAVIO 650
        </p>
    </li>
    <li>
        <a  href="https://maps.app.goo.gl/7TDLxnZHMn8Thgwt5">
            VINIC
        </a>
        <p>
            BROWN 247
        </p>
    </li>
    <li>
        <a href="https://maps.app.goo.gl/BdURQMiqCNi4ibYR9">
            MCFLY
        </a>
        <p>
            PELLEGRINI 250
        </p>
    </li>
    <li>
        <a href="https://maps.app.goo.gl/2kNNAaqaTZMkYN3b9">
            MG DRUGSTORE
        </a>
        <p>
            RIVADAVIA 100
        </p>
    </li>
    <li>
        <a href="https://maps.app.goo.gl/HhXJHzDmZiNRzSmb8">
            BAR DEL TEATRO
        </a>
        <p>
            DE LA NACION 350
        </p>
    </li>
    <li>
        <a href="https://maps.app.goo.gl/mo4EKWHD2TdMSfYz6">
            CAFÉ DE LA PLAZA
        </a>
        <p>
            SARMIENTO 54
        </p>
    </li>
    <li>
        <a href="https://maps.app.goo.gl/f6Nw4aBRJBgk9US99">
            CLUB REGATAS
        </a>
        <p>
            JUAN MANUEL DE ROSAS 100
        </p>
    </li>
</ul>
