<div id="div-contact">
    <div>
        <div id="div-attention">
            <span id="title-attention">Horario de atención:</span>
            <span id="day-attention">Lunes a Viernes de 9 a 17hs</span>
        </div>
    </div>
    <div>
        <ul id="ul-contact">
            <li>
                <a href="http://wa.link/tmalxw">
                    <img src="svg/whatsapp-contact.svg" alt="" id="whatsapp-logo">
                </a>
                <a href="http://wa.link/tmalxw">
                    <h3 class="h3-contact">Escribinos por WhatsApp</h3>
                </a>
                <a href="http://wa.link/tmalxw">
                    <span class="span-contact">San Martin WSP</span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/elsanmartinok">
                    <img src="img/instagram-logo.png" alt="" id="instagram-logo">
                </a>
                <a href="https://www.instagram.com/elsanmartinok">
                    <h3 class="h3-contact">Seguinos en instagram</h3>
                </a>
                <a href="https://www.instagram.com/elsanmartinok">
                    <span class="span-contact">&#64;ElSanMartinOK</span>
                </a>
            </li>
            <li>
                <a style="cursor: pointer;" (click)="redirectToComponent()">
                    <img src="svg/mail.svg" alt="" id="mail-logo">
                </a>
                <a style="cursor: pointer;" (click)="redirectToComponent()">
                    <h3 class="h3-contact">Envianos un email</h3>
                </a>
                <a style="cursor: pointer;" (click)="redirectToComponent()">
                    <span class="span-contact">elsanmartinok&#64;smpage.com</span>
                </a>
            </li>
        </ul>
    </div>
    <div id="div-subscriptions">
        <div id="div-newsletter">
            <div class="div_h5">
                <h5 id="h5-newsletter">suscribite a nuestro newsletter</h5>
            </div>
            <div class="div_form-container">
                <form action="">
                    <div id="div-form">
                        <input type="text" id="input-email" placeholder="Ingesa tu email">
                        <button id="button-confirm">
                            <img src="svg/tick.svg" alt="" id="tick-img">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
