<div class="admin-menu">
    <div class="menu-header">
        <h2 class="menu-title">Panel de Administración</h2>
    </div>
    <ul class="menu-list">
        <li class="menu-item">
            <button class="menu-link" (click)="navigateToModifyUser()">Ver datos usuario</button>
        </li>
        <li class="menu-item">
            <button class="menu-link" (click)="navigateToOrders()">Ver tus pedidos</button>
        </li>
        <li class="menu-item">
            <button class="menu-link" (click)="navigateToAddAddress()">Ver direcciones</button>
        </li>
        <li class="menu-item" *ngIf="(userType == 'Admin')">
            <button class="menu-link" (click)="navigateTo_addProduct()">Dar de alta un producto</button>
        </li>
        <li class="menu-item" *ngIf="(userType == 'Admin')">
            <button class="menu-link" (click)="navigateTo_seePaudOrders()">Ver los pedidos pagos</button>
        </li>
        <li class="menu-item">
            <button class="menu-link" (click)="logout()">Cerrar sesión</button>
        </li>
    </ul>
</div>


