@font-face {
    font-family: "SecondarySMfont";
    src: url("../../../../public/font/puntosVenta/SaaSeriesCDOT.ttf")
  }
  

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    
}

.admin-menu {
    font-family: 'SecondarySMfont';
    margin-top: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #c0956d;
    width: 400px;
    max-height: 80vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    
    .menu-header {
        text-align: center;
        margin-bottom: 40px;
        
        .menu-title {
            font-size: 32px;
            font-weight: bold;
            color: #000000;
        }
    }

    .menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        
        .menu-item {
            margin-bottom: 20px;
            
            .menu-link {
                cursor: pointer;
                font-family: 'SecondarySMfont';
                text-decoration: none;
                //color: #ffffff;
                color: #000000;
                font-size: 20px;
                padding: 15px 20px;
                background-color: #8F342F;
                border-radius: 8px;
                display: block;
                width: 100%;
                text-align: center;
                transition: background-color 0.3s ease, color 0.3s ease;
                border: none;
                
                &:hover {
                    background-color: #B7584C;
                    color: #333;
                    
                }
            }

            &:last-child .menu-link {
                background-color: #34608F;

                &:hover {
                    background-color: #4C78B7;
                    color: #fff;
                }
            }
        }
    }
}
