body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: fit-content;
    flex-direction: row;
}

.container-left {  
    width: 20%;
    background-color: #EDDBCD;
    padding: 1rem;
}

.menu-item {
    display: block;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 0px;
    text-align: left;
    color: #954E48;
    text-decoration: underline;
}


.container-right {  
    width: 100%;
    /*height: fit-content;*/
    background-color: #b19980;
    padding: 1rem;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 2px;
}

.galery{
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.galery > div {
    flex: 2.6;
    border-radius: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1);
}

.galery > div:hover {
    flex: 6;
}

.box-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFC7AF;
}

.logo {
    width: 12%;
    height: 12%;
    border-radius: 50%;
}

.titulo {
    margin: 2rem;
    color: black;
}

.box-titulo2 {
    text-align: center;
}

.titulo2 {
    padding: 2rem;
}

.titulo-menu {
    margin: 0rem;
    color: black;
}