.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5; /* Color de fondo suave */
  min-height: 100vh; /* Altura mínima para llenar la pantalla */
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.app-description {
  margin: 10px 0;
}

.App-link {
  color: #61dafb;
}

.form-container {
  background: rgb(27, 137, 240);
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  margin: 20px auto; /* Centrar en la página */
  max-width: 400px; /* Ancho máximo */
}

.input-form {
  display: flex;
  flex-direction: column; /* Distribuir en columna */
}

.input-field {
  padding: 10px;
  margin: 10px 0; /* Espaciado entre elementos */
  border: 1px solid #ccc;
  border-radius: 5px; /* Bordes redondeados */
}

.submit-button {
  padding: 10px;
  background-color: #66fb61;
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #ccc; /* Color para el botón deshabilitado */
  cursor: not-allowed; /* Cambia el cursor para el botón deshabilitado */
}

.submitted-text {
  margin-top: 10px;
  color: #000000; /* Color verde para el texto enviado */
}

.components-section {
  margin-top: 20px; /* Espacio superior para la sección de componentes */
}
