<div class="container">
    <h1>Detalles de la Compra</h1>

    <!-- Resumen de los productos -->
    <section class="order-summary">
        <h2>Resumen de tu Pedido</h2>
        <div class="order-summary-header">
            <p>Producto</p>
            <p>Precio</p>
            <p>Cantidad</p>
            <p>Subtotal</p>
        </div>

        <div *ngFor="let item of cartLinesOrder" class="order-summary-item">
            <p>{{ item.product.name }}</p>
            <p>{{ item.product.priceUni}}</p>
            <p>{{ item.quantity }}</p>
            <p>{{ item.product.priceUni * item.quantity}}</p>
        </div>

        <div class="order-total">
            <p><strong>Total: </strong>{{ order.totalAmount}}</p>
        </div>
    </section>

    <form class="form" [formGroup]="shippingForm" (ngSubmit)="submitPurchase(shippingForm.value)">
        <div class="form-group">
            <label for="address">Dirección</label>
            <select id="address" formControlName="address">
              <option *ngFor="let address of addresses" [value]="address.id">{{ address.nickName }} - {{ address.address }}</option>
            </select>
          </div>

        <section class="payment-details">
            <h2>Datos de la Tarjeta</h2>
            <div class="form-group">
                <label for="cardNumber">Número de Tarjeta:</label>
                <input type="text" id="cardNumber" name="cardNumber" formControlName="cardNumber" required />
            </div>

            <div class="form-group">
                <label for="expiryDate">Fecha de Vencimiento:</label>
                <input type="month" id="expiryDate" name="expiryDate" formControlName="expiryDate" required />
            </div>

            <div class="form-group">
                <label for="cvv">CVV:</label>
                <input type="text" id="cvv" name="cvv" formControlName="cvv" required />
            </div>

            <div class="form-group">
                <label for="cardholderName">Nombre del Titular:</label>
                <input type="text" id="cardholderName" name="cardholderName" formControlName="cardholderName" required />
            </div>
        </section>

        <section class="confirmation">
            <button type="submit" class="buy_btn">Efectuar Compra</button>
        </section>

        <button type="submit" class="cancel_btn" (click)="goBack()">Volver</button>
    </form>
</div>
