.div-control{
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    background-color: #8F342F; 
    display: block;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
    position: relative;
}

.header_ul-grid{
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    padding: 0;
}

.header_ul-menu{
    list-style: none;
}

/*..............................................................*/
/*MENU HAMBURGUESA*/
/*.li_menu{
    display: flex;
    text-align: center;
    justify-content: left;
    grid-column: 1;
    grid-row: 1;
}

.nav{
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has(.dropdown:target){
    --img1: scale(0);
    --img2: scale(1);

    --clip: inset(0 0 0 0);

}

.nav_container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content;
    grid-template-areas: "img";
    grid-template-rows: 1;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav_menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);

}

.nav_menu-second{
    transform: var(--img2);
}

.nav_icon {
    display: block;
    width: 30px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #EDDBCD;
    width: 16%;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: grid;
    align-content: center;
    gap: 1rem;

    clip-path: var(--clip, inset(0 100% 100% 0));
    transition: 0.5s;
}

.dropdown_list{
    list-style: none;
}

.dropdown_link:hover {
    background-color: #998d84;
}

.dropdown_link{
    text-decoration: none;
    color: black;
    padding: 1em 0.7em;
    display: flex;
    text-align: center;
    gap: .6rem;
    text-align: center;
    background-color: var(--bg, transparent);
    position: relative;
}

.dropdown_list:has( :checked){
    --rows: 1fr;
    --rotate: rotate(180deg);
}

.dropdown_icon{
    width: 25px;
}

.dropdown_check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown_arrow{
    transform: var(--rotate, 0);
    transition: .2s transform;
    width: 25px;
}

.dropdown_content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown_sub{
    overflow: hidden;
}

.dropdown_list_sub{
    width: 85%;
    list-style: none;
    margin-left: auto 0;
}

.dropdown_anchor{
    padding: 1em 0;
    display: block;
    color: black;
    text-decoration: none;
}

#instagram:hover {
    background-color: rgba(108, 43, 108, 0.307);
}

#whatsapp:hover {
    background-color: rgba(20, 138, 14, 0.307);
}*/

/*..............................................................*/
/*EXIT*/
.exit-li{
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    padding-left: 15%;
    padding-right: 15%;
}

.exit-img{
    width: 30px;
    height: 30px;
    padding-left: 1px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*..............................................................*/
/*TITULO*/
.li_titulo{
    justify-self: center;
    grid-column: 3;
    grid-row: 1;
}

.a_logo{
    font-family: "SanMartin";
    color: transparent;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    font-size: 3rem;
    text-decoration: none;
    background-clip: text;
    background-image: url(../../../public/img/fondo-sanMartin.png);
    background-size: cover;
}
/*..............................................................*/
/*ICONOS INGRESAR/CUENTA Y CARRITO*/
.carrito-li{
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
    grid-column: 5;
    grid-row: 1;
    align-items: end;
    padding-left: 15%;
    padding-right: 15%;
}

.ingresar-li{
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
    grid-column: 4;
    grid-row: 1;
    align-self: center;
    padding-left: 15%;
    padding-right: 15%;
}

.ingresar_carrito-a{
    display: grid;
    grid-template-rows: 1.5fr 0.5fr;
    justify-items: center;
    text-decoration: none;
}

.carrito-img{
    width: 30px;
    height: 30px;
    padding-left: 4.3px;
    padding-right: 5.7px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.ingresar-img{
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ingresar_carrito-span{
    color: #000000;
    grid-row: 2;
    font-size: larger;
    color: #EDDBCD; 
    font-family: 'SecondarySMfont';
    font-style: normal;
}

.dot{
    height: 40px;
    width: 40px;
    background-color: #EDDBCD;
    border-radius: 50%;
    display: inline-block;
    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: #000000;
    border: 2px solid black;
}

//pruebas

.li-span-prueba{
    color: #EDDBCD;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.ingresar_carrito-a-prueba{
    display: block;
    justify-items: center;
    text-decoration: none;
    text-align: center;
    font-family: 'SecondarySMfont';
}


//Prubea header estilo bombay

.div-bottom-prueba{
    background-color: #aa524d;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.1s;
    top: 0px;
    position: relative;
    z-index: 1;
}

.compressed_menu{
    margin-right: 150px;
    margin-left: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

.ul-prueba{
    list-style: none;
    list-style-position: inside;
    justify-content: space-around;
    display: flex;
    grid-template-rows: 1fr;
    margin-top: 0%;
    margin-bottom: 0%;
}

.li-bottom_menu{
    display: flex;
    grid-row: 1;
    font-family: 'SecondarySMfont';
    line-height: 1.5625;
}

.li-bottom_menu:hover > .a_li-bottom_menu{
    text-decoration: underline;
    color: #EDDBCD;
}

.a_li-bottom_menu{
    font-style: normal;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s;
}

