<footer >
    <div class="footer">
        <div class="div-footer">
            <h5 class="h5-footer">
                <span class="span-h5">Informacion</span>
            </h5>
            <ul class="ul-footer">
                <li>
                    <img src="svg/downarrow.svg" alt="" class="arrow" id="img">
                    <a href="/puntosVenta" class="a-footer" id="link" (click)="pageId = 1; emitPageId()">¿Dónde Encontrarnos?</a>
                </li>
                
                <li>
                    <img src="svg/downarrow.svg" alt="" class="arrow" id="img">
                    <a href="/contact" class="a-footer" id="link" (click)="pageId = 4; emitPageId()">Contactanos</a>
                </li>
                
            </ul>
        </div>
        <div class="div-footer">
            <h5 class="h5-footer">
                <span class="span-h5">Contacto</span>
            </h5>
            <ul class="ul-footer" id="contact">
                <li>
                    <img src="svg/location.svg" alt="" class="img-footer">
                    <span>San Nicolas de los Arroyos, Buenos Aires</span>
                </li>
                <li><hr class="hr-footer"></li>
                <li>
                    <img src="svg/whatsapp.svg" alt="" class="img-footer">
                    <a href="http://wa.link/tmalxw" class="a-footer">+54 9 3364193373 - Lunes a Sabados 10hs a 18hs</a>
                </li>
                <li><hr class="hr-footer"></li>
                <li>
                    <img src="svg/instagram.svg" alt="" class="img-footer">
                    <a href="https://www.instagram.com/elsanmartinok" class="a-footer">&#64;ElSanMartinOK</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="warning ">
        <p class="warning-span">Beber con moderación. Prohibida su venta a menores de 18 años.</p>
    </div>
</footer> 
