@font-face {
    font-family: "SecondarySMfont";
    src: url("../../../../public/font/puntosVenta/SaaSeriesCDOT.ttf")
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;

}

.mail-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    font-family: "SecondarySMfont";
    
}

.form-group label {
    display: block;
    font-weight: normal;
}

.form-group input, 
.form-group textarea {
    font-family: "SecondarySMfont";
    width: 100vh;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
    height: 150px;
}

.form-group button {
    background-color: #8F342F;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'SecondarySMfont';
}

.form-group button:hover {
    background-color: #682926;
}

.h2_titulo{
    font-family: "SecondarySMfont";

}

.div_email-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_email{
    margin-top: 180px;
    display: block;
    text-align: center;
}

.form_send-email{
    background-color: #c0956d;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: left;
}

//SM - hasta:650px
@media (max-width:650px) {
    .div_email{
        margin-top: 150px;
    }

    .form_send-email{
        max-width: 330px;

        input {
            width: 300px;
        }
        textarea {
            width: 300px;
        }
    }
}

//SM - hasta:1024px
@media (min-width: 650px) and (max-width: 1024px) {
    .div_email{
        margin-top: 150px;
    }

    .form_send-email{
        max-width: 600px;

        input {
            width: 550px;
        }
        textarea {
            width: 550px;
        }
    }
}