@font-face {
    font-family: "SecondarySMfont";
    src: url("../../../../public/font/puntosVenta/SaaSeriesCDOT.ttf")
}

.sign-in{
    margin-top: 180px;
    padding: 20px;
}

.form{
    background-color: #c0956d;
}

.sign-in_form{
    background-color: #c0956d;
}

.form-line{
    display: block;
    justify-content: center;
    align-items: center;
    
}

.form{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    gap: 5px;    
    height: 20rem;   
}

.div_input_button{
    display: grid;
    grid-template-rows: 5fr 1fr;
}

.div_inputs_right_left{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
}

.div_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_input{
    padding-left: 5px;
    padding-right: 5px;
    gap: 1.5px;
}

.a_recover-password{
    cursor: pointer;
}

.a_recover-password:hover{
    color: rgb(80, 79, 79);
}

.btn_signin{
    width: 7rem;
    height: 2rem;
    background-color: #aa524d;
    border: none;
    border-radius: 2.5px;
    font-family: "SecondarySMfont";
    cursor: pointer;
}

//SM - hasta: 650px
@media (max-width:650px) {
    .container{
        margin-top: 120px;
    }

    .div_sign-in{
        display: block;
    }
}

//SM - hasta:1024px
@media (min-width: 650px) and (max-width: 1024px) {
    .container{
        margin-top: 120px;
    }

    .div_sign-in{
        display: block;
    }
}