.index {
    margin-top: 180px;
}

.video{

    grid-column: 2;
    grid-row: 1;
}

.slider{
    grid-column: 1;
    grid-row: 1;
    padding: 40px 0;
}

.div_slider_vid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content;
}

@media (max-width: 991px) {
    .index_video{
        height: 100vh;
        padding: 40px 0;
    }
}

//SM - hasta:390px
@media (max-width: 391px) {
    .index {
        margin-top: 150px;
    }
    
    .video{
    
        grid-column: 1;
        grid-row: 2;
    }
    
    .slider{
        grid-column: 1;
        grid-row: 1;
        padding: 40px 0;
    }
    
    .div_slider_vid{
        display: block;
        //display: grid;
        //grid-template-columns: max-content;
        //grid-template-rows: 1fr 1fr;
    }

    .div_video{
        //grid-column: 1;
        //grid-row: 2;
        display: block;
        align-items: center;
        justify-content: center;
    }
}