@font-face {
  font-family: "SecondarySMfont";
  src: url("../../../../public/font/puntosVenta/SaaSeriesCDOT.ttf")
}

.edit-user-container {
    max-width: 500px;
    margin-top: 180px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #c0956d;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'SecondarySMfont';
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: black;
    }
  
    .form-group {
      margin-bottom: 15px;
      margin-right: 15px;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
        color: #333;
      }
  
      input,
      select {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        background-color: #EDDBCD;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      input[type='date'] {
        font-family: Arial, sans-serif;
      }
    }
}
    button {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      font-family: 'SecondarySMfont';
      color: black;
      background-color: #32659b;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
  
      &:hover:not(:disabled) {
        background-color: #0056b3;
      }
    }

    .cancel_btn {
      background-color: #8F342F;
      color: black;
      font-family: 'SecondarySMfont';
      border: none;
      margin-top: 10px;
      padding: 10px 20px;
      font-size: 16px; 
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    
      .cancel_btn:hover {
        background-color: #B7584C;
      }
    
      &:active {
        background-color: #b71c1c; 
      }
    
      &:focus {
        outline: none; 
        box-shadow: 0 0 0 2px rgba(244, 67, 54, 0.5); 
      }
    }
    
//SM - hasta:650px
@media (max-width: 650px) {
  .edit-user-container{
    margin-top: 130px;
    max-width: 330px;
  }
}

//SM - hasta:1024px
@media (min-width: 650px) and (max-width: 1024px) {
  .edit-user-container{
    margin-top: 130px;
    max-width: 600px;
  }
}
  