@font-face {
  font-family: "SecondarySMfont";
  src: url("../../../../public/font/puntosVenta/SaaSeriesCDOT.ttf")
}

.addresses-container {
    margin-top: 180px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 180px;
    font-family: 'SecondarySMfont';
    
    h2 {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    .addresses-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    .address-item {
      background-color: #c0956d;
      margin-bottom: 15px;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  
    .address-item h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    .address-item p {
      margin: 5px 0;
    }
  
    .address-item strong {
      color: black;
    }
  
    ng-template {
      text-align: center;
      font-size: 1.2rem;
      color: #999;
    }
}

.div_button{
  margin-bottom: 10px;
}

.address_btn{
  font-family: 'SecondarySMfont';
  margin-right: 10px;
  background-color: #8F342F;
  border: none;
  border-radius: 2px;
  height: 30px;
  cursor: pointer;
}

.go-back_btn{
  font-size: 16px;
}
  