<div class="div_products">
    <div class="div_product_container" *ngFor="let p of products">
        <div class="div_product">
            <img src="img/productoSanMartin.png" class="product_img">
            <span style="display: block;">{{p.name}}</span>
            <h2 class="product_price">{{p.priceUni}}</h2>
            <form action="" >
                <button type="button" class="product_btn" (click)="addToCart(p.code, 1)"></button>
            </form>
        </div>
    </div>

    <div *ngIf="products.length == 0">
        <h1>NO HAY PRODUCTOS DISPONIBLES</h1>
    </div>
</div>
