.div_products{
    padding-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.div_product_container{
    width: 14rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.div_product{
    background-color: #c0956d;
    font-family: 'SecondarySMfont';
    padding: 1rem;
}

.name_span{
    font-size: 24px;
    display: block;
}

.product_img{
    height: 180px;
    width: 180px;
    background-color: #c0956d;
    margin-top: 1rem;
}

.product_price{
    margin: 0;
}

.product_btn{
    width: 7rem;
    height: 2rem;
    background-color: #aa524d;
    border: none;
    border-radius: 2.5px;
    font-family: 'SecondarySMfont';
    cursor: pointer;
}

.buy_btn{
    width: 7rem;
    height: 2rem;
    background-color: #aa524d;
    border: none;
    border-radius: 2.5px;
    font-family: 'SecondarySMfont';
    cursor: pointer;
}

.counter_btn{
    width: 2rem;
    height: 2rem;
    //background-color: #8F342F;
    background-color: #aa524d;
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
}

.counter_span{
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    gap: 10px;     
    padding: 1rem;           
}

.counter-container {
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 5px;                 
}