<div class="order-selector">
    <label for="sortBy">Ordenar por:</label>
    <select id="sortBy" (change)="onSortChange($event)" class="sort-select">
        <option value="alphabetical">Alfabéticamente</option>
        <option value="priceAsc">Precio: Menor a mayor</option>
    </select>
</div>

<div class="div_products">
    <div class="div_product_container" *ngFor="let p of products">
        <div class="div_product">
            <img src={{p.img}} class="product_img">
            <span class="name_span">{{p.name}}</span>
            <h2 class="product_price">${{p.priceUni}}</h2>
            <form action="" >
                <button type="button" class="product_btn" (click)=" selectProduct(p.code, p.stock)" *ngIf="p.code != productCode">
                    COMPRAR
                </button>
                <div *ngIf="p.code == productCode" class="container">
                    <div class="counter-container">
                        <button type="button" class="counter_btn" (click)="decrease()">-</button>
                        <span class="counter_span">{{quantity}}</span>
                        <button type="button" class="counter_btn" (click)="increase()">+</button>
                    </div>
                    <button type="button" class="buy_btn" (click)="addToCart(p.id, quantity)">AÑADIR AL CARRITO</button>
                </div>
            </form>
            
        </div>
    </div>

    <div *ngIf="products.length == 0">
        <h1>NO HAY PRODUCTOS DISPONIBLES</h1>
    </div>
</div>
