<div class="container div_log-in_sign-in">
    <section class="log-in">
            <div class="log-in_form">
                <form [formGroup]="loginForm" action="" class="form" (ngSubmit)="onLogin(loginForm.value)">
                    <label for="username" class="form-line">Usuario:</label>
                    <input type="text" id="user"required class="form-line"  formControlName="user" >
                    <label for="password" class="form-line">Contraseña:</label>
                    <input type="password" id="password" required class="form-line" formControlName="password" >
                    <button type="submit" class="form-line">Ingresar</button>
                    <a href="#" class="form-line">¿Olvidaste tu contraseña?</a>
                </form>
            </div>
            
    </section>
    <section class="sign-in">
        <div class="sign-in_form">
            <form action="" class="form">
                <label for="username" class="form-line">Nombre de usuario:</label>
                <input type="text" id="username" name="username" required class="form-line">
                
                <label for="email" class="form-line">Correo electrónico:</label>
                <input type="email" id="email" name="email" required class="form-line">
                
                <label for="password" class="form-line">Contraseña:</label>
                <input type="password" id="password" name="password" required class="form-line">
                
                <label for="confirm-password" class="form-line">Confirmar contraseña:</label>
                <input type="password" id="confirm-password" name="confirm-password" required class="form-line">
                
                <button type="submit" class="form-line">Registrarse</button>
            </form>
        </div>
    </section>
</div>