.user-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  position: relative;

  .user-card {
    background-color: #fffaf0;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    border: 1px solid #d4b083;

    h2 {
      margin-bottom: 16px;
      color: #663300;
    }

    p {
      margin: 8px 0;
      font-size: 16px;
      color: #5a4336;

      strong {
        color: #3d291f;
      }
    }
  }

  .modify-btn {
    position:  inherit;
    top: 20px;
    left: 180px; 
    background-color: #987243;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      background-color: #b08968;
    }
  }

  .back-btn {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #9c6a49;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #784d36;
    }
  }
}


//SM - hasta:391px
@media (max-width: 391px){
  .user-card-container{  
    margin-top: 120px;

    .modify-btn{
      left: 120px
    }

    .user-card{
      width:300px;
      max-width: 300px;
    }

    h2 {
      font-size: 12px;
    }

    .back-btn{
      margin-bottom: 0%;
    }
  }

  
}