@font-face {
  font-family: "SecondarySMfont";
  src: url("../../../../public/font/puntosVenta/SaaSeriesCDOT.ttf")
}

.address-form-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 180px;
    padding: 20px;
    background-color: #c0956d;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "SecondarySMfont";
  
    h2 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        font-size: 14px;
        margin-bottom: 5px;
      }
  
      input {
        width: 100%;
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        background-color: #EDDBCD;
  
        &:focus {
          border-color: #007bff;
        }
      }
    }
  
    .form-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  
      button {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: "SecondarySMfont";
      }
  
      button[type="submit"] {
        background-color: #aa524d;
        color: rgb(0, 0, 0);
  
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
  
      .cancel-btn {
        background-color: #f8f9fa;
        color: #333;
        border: 1px solid #ccc;
  
        &:hover {
          background-color: #e9ecef;
        }
      }
    }
  }

//SM - hasta:650px
@media (max-width:650px) {
  .address-form-container{
    max-width: 330px;
    margin-top: 140px;

    input {
      max-width: 300px;
    }
  }
}

//MD - hasta:1024px
@media (min-width: 650px) and (max-width:1024px) {
  .address-form-container{
    max-width: 600px;
    margin-top: 140px;

    input {
      max-width: 550px;
    }
  }
}