<div class="container">
    <tr>
        <div class="item-container item">
            <p style="grid-area: 'product';">Producto</p>
            <p style="grid-area: 'price';">Precio</p>
            <p style="grid-area: 'amount';">Cant.</p>
            <p style="grid-area: 'total';">Total</p>
            <p style="grid-area: 'x';"> </p>
        </div>
    </tr>

    <tr>
        <div class="item-container item">
            <p style="grid-area: 'product';">aaa</p>
            <p style="grid-area: 'price';">bbb</p>
            <p style="grid-area: 'amount';">ccc</p>
            <p style="grid-area: 'total';">ddd</p>
            <p style="grid-area: 'x';">x</p>
        </div>
    </tr>

    <tr>
        <div class="item-container item">
            <p style="grid-area: 'product';">aaa</p>
            <p style="grid-area: 'price';">bbb</p>
            <p style="grid-area: 'amount';">ccc</p>
            <p style="grid-area: 'total';">ddd</p>
            <p style="grid-area: 'x';">x</p>
        </div>
    </tr>
</div>
