@font-face {
    font-family: "SanMartin";
    src: url("../assets/font/FTY\ SKORZHEN\ NCV.otf") 
}



body {
    background-color: #49210D;
}

/*HEADER*/
.header {
    background-color: #8F342F; 
    display: block;
    padding: 10px;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-grid{
    justify-content: space-between;
    align-items: center;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.5fr;
    grid-template-rows: 1fr;
    padding: 0;
}

.menu-header{
    list-style: none;

}

/*MENU*/
.li-menu{
    display: flex;
    text-align: center;
    justify-content: left;
    grid-column: 1;
    grid-row: 1;
}

.nav{
    --img1: scale(1);
    --img2: scale(0);
}

.nav:has(.dropdown:target){
    --img1: scale(0);
    --img2: scale(1);

    --clip: inset(0 0 0 0);

}

.nav_container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content;
    grid-template-areas: "img";
    grid-template-rows: 1;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.nav_menu{
    grid-area: img;
    position: relative;
    z-index: 10;

    transform: var(--img1);

}

.nav_menu-second{
    transform: var(--img2);
}

.nav_icon {
    display: block;
    width: 30px;
    display: block;
}

.dropdown{
    position: absolute;
    background-color: #EDDBCD;
    width: 16%;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 1em;

    display: grid;
    align-content: center;
    gap: 1rem;

    clip-path: var(--clip, inset(0 100% 100% 0));
    transition: 0.5s;
}

.dropdown_list{
    list-style: none;
}

.dropdown_link:hover {
    background-color: #998d84;
}

.dropdown_link{
    text-decoration: none;
    color: black;
    padding: 1em 0.7em;
    display: flex;
    text-align: center;
    gap: .6rem;
    text-align: center;
    background-color: var(--bg, transparent);
    position: relative;
}

.dropdown_list:has( :checked){
    --rows: 1fr;
    --rotate: rotate(180deg);
}

.dropdown_icon{
    width: 25px;
}

.dropdown_check{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dropdown_arrow{
    transform: var(--rotate, 0);
    transition: .2s transform;
    width: 25px;
}

.dropdown_content{
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}

.dropdown_sub{
    overflow: hidden;
}

.dropdown_list_sub{
    width: 85%;
    list-style: none;
    margin-left: auto 0;
}

.dropdown_anchor{
    padding: 1em 0;
    display: block;
    color: black;
    text-decoration: none;
}

#instagram:hover {
    background-color: rgba(108, 43, 108, 0.307);
}

#whatsapp:hover {
    background-color: rgba(20, 138, 14, 0.307);
}

/*TITULO*/
.li-titulo{
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
}

.a-logo{
    font-family: "SanMartin";
    color: white;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    font-size: 40px;
}

/*ICONOS INGRESAR Y CARRITO*/
.li-ingresar-carrito{
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
    grid-column: 4;
    grid-row: 1;
    align-items: end;
}

.a-ingresar-carrito {
    display: grid;
    grid-template-rows: 1.5fr 0.5fr;
    justify-items: center;
    text-decoration: none;
}

.img-ingresar-carrito {
    width: 30px;
    height: 30px;
    grid-row: 1;
}

.span-ingresar-carrito{
    color: white;
    grid-row: 2;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------*/

/*PAGINA-INDEX*/
.item-pasos {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    color: white;
    text-align: left;

}

.rounded{
    border-radius: 20px; 
        }

.galery{
    display: grid;
    height: 30rem;
    gap: 1rem;
    text-align: left;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
}

.paso1{
    background-image: url(assets/Imagenes/img\ 1.jpg);
    grid-column: 1;
    grid-row: 1;
}

.div_slider_vid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: max-content;

}


.container{
    width: 90%;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.div_video{

    grid-column: 2;
    grid-row: 1;
}
.index_video{
    height: 80vh;
    padding:  0;
   
}

.slider{
    grid-column: 1;
    grid-row: 1;
    padding: 40px 0;
}

.slider_container{
    background-color: #c0956d;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider_body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider_body-show{
    opacity: 1;
    pointer-events: unset;
}

.slider_img{
    width: 300px;
    height: 460px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider_text{
    max-width: 600px;
}

.subtitle{
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "SanMartin";
}

.slider_review{
    font-weight: 300pc;
    font-size: 20px;
    line-height: 1.7;
    font-family: "SanMartin";
}

.slider_arrow{
    cursor: pointer;
    width: 90%;

}

.slider_arrow:nth-of-type(2){
    justify-self: end;
}




/*OTROS*/
/*
.container {
    display: flex;
    height: fit-content;
    flex-direction: row;
}
*/

/*
.container-right {  
    width: 100%;
    background-color: #DFC6AF;
    padding: 1rem;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 1px;}*/


.galery > div {
    flex: 2.6;
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    text-align: justify;
    font-size: 900%;
}
/*
.galery > div:hover {
    flex: 6;
}
*/
.box-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFC7AF;
}



.titulo {
    margin: 2rem;
    color: black;
}

.box-titulo2 {
    text-align: justify;
}

.titulo2 {
    padding: 2rem;
}

.titulo-menu {
    margin: 0rem;
    color: black;
}


/* MENU DE FILTRADO DE PRODUCTOS*/
/* Estilos para el formulario de filtrado */
.filter-menu {
    color: black;
    padding: 10px;
    background-color: #c0956d;
    margin: 10px;
    width: 200px; /* Reducir el ancho */
    max-height: 600px; /* Establecer una altura máxima */
    border-radius: 15px;
    min-height: 600px;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    color:white;
    display: block;
    margin-bottom: 5px;
    
}
.filter-menu h3{
    color:black;
    font-family:'Open sans', sans-serif;   
    font-weight:800;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/* PRODUCTOS  */

/* Contenedor principal para el menú de filtros y los productos */
.principal {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 10px; /* Espacio entre el menú de filtros y el contenedor de productos */
}

/* Estilos para el contenedor de productos */
.contenedor-productos {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Crea columnas automáticas que se ajustan al contenido */
    grid-gap: 10px; /* Espacio entre los productos */
    justify-content: flex-start;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 1500px; /* Ajusta el ancho máximo del contenedor */
    
}

.producto {
    background-color: #c0956d; /* Color de fondo del bloque */
    min-height: 300px;
    padding: 20px; /* Espaciado interno del bloque */
    margin-bottom: 20px; /* Espaciado externo entre los bloques */
    width: 80%; /* Ancho del bloque */
    border-radius: 15px;
}



 /* Estilos para el botón "Pagar" en la parte inferior derecha de la página */
 .btn-pagar {
    position: fixed;
    bottom: 20px; /* Ajusta la distancia desde la parte inferior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    padding: 15px 30px; /* Espaciado interno del botón */
    background-color: #28a745; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente */
}

.btn-pagar:hover {
    background-color: #218838; /* Color de fondo del botón al pasar el ratón */
}

/* FlipCards*/
:root{
    --primary: #c0956d;
    --secondary: #c0956d;
    --dark:#212121;
    --light: #f3f3f3;
}



body{
    font-family: montserrat,sans-serif;
    width: 100%;
    min-height: 100vh;
    
}

.card{
    margin: 10px auto 0;
    width: 300px;
    height: 500px;

}

.card__inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor:pointer;
    position: relative;
}

.card__inner.is-flipped{
    transform: rotateY(180deg);
}

.card__face{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.card__face--front{
    background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--front h2{
    color:#FFF;
    font-size: 32px;
    text-align: center;    

}

.card__face--back h2{
    color:#000000;
    font-size: 24px;
    text-align: center;  

}

.card__face--back{
    background-color: var(--light);
    transform: rotateY(180deg);
} 

.card__content{
    width:100%;
    height: 100%;
}

.card__header{
    position: relative;
    padding: 10px 10px 10px;
}

.card__header:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left,var(--primary) 10%, var(--secondary) 115%);
}

.producto{
    display: block;
    width: 130px;
    height: 340px;
    margin: 0 auto ;
    border-radius: 0%;
    object-fit: cover;
}